



.hvrbox,
.hvrbox * {
	box-sizing: border-box;
	border-radius: 10px;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;

}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 24px;
	font-family:verdana;
	display: inline-block;
	position: relative;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}


ul
{
text-align: center;
}

a:link
{
text-decoration:none;
}

#credits
{
	position: relative;
	top:-16px;
	left:-46px;
	text-align: left;
	width:1024px;

}


#credits li
{
display: inline;
list-style-type: none;
position:relative;

font-size:18px;
font-family:Arial, sans-serif;
color:#222222;

}
li:not(:last-child) {
    margin: 9px;
}

#body
{
background-color: #ffffff;
}
#links
{
position:relative;
top:-41px;
left:12px;
width:1034px;
height:auto;
font-family:Arial, sans-serif;
color:#222222;
}

#terms
{
position:relative;
top:30px;
left:112px;
width:834px;
height:auto;
font-family:Arial, sans-serif;
color:#333333;
}

#bio
{
position:relative;
top:20px;
left:12px;
width:1004px;
height:290px;
overflow:hidden;
scroll:none;
padding-left:10px;
margin:0px;
border:none;
outline:none;]
background-color: #000000;
font-family:Arial, sans-serif;
color:#333333;
font-size:18px;
font-style: italic;
text-align: justify;
column-count: 2;
column-gap: 48px;
display:none;
}

#left-column
{
position:relative;
top:26px;
left:0px;
width:497px;
height:auto;
}

#right-column
{
position:absolute;
top:26px;
left:527px;
width:497px;
height:auto;

}

#main
{
width:1048px;
height:auto;
margin-left:auto;
margin-right:auto;
padding-right:6px;

}

#name
{
position:relative;
left:0px;
width:1024px;
height:150px;
margin-left:auto;
margin-right:auto;
padding:0px;
font-family:Arial, sans-serif;
color:#333333;
}

#banner
{
position:relative;
top:-41px;
left:12px;
width:1024px;
height:300px;
background-color:#ffffff;
border:none;
frameborder:0;
vspace:0;
hspace:0;
marginwidth:0;
marginheight:0;
display:none;
}

#player
{
	position:relative;
	top:-41px;
  width:1024px;

	height:576px;
/*  display:none; */
  margin-left:12px; /* clipping left side of page */
  margin-top:-0px;  /* clipping top of page */
  overflow:hidden;
	border-radius: 10px;
  /* resize seems to inherit in at least Firefox */
  -webkit-resize:none;
  -moz-resize:none;
  resize:none;
  border:none;

}


#foot
{
width:1024px;
height:30px;
position:relative;
top:25px;
left:12px;
text-align:center;
font-family:Arial, sans-serif;
color:#888888;
}



a:link {color:#666666;}    /* unvisited link */
a:visited {color:#666666;} /* visited link */
a:hover {color:#888888;}   /* mouse over link */
a:active {color:#888888;}

.mySlides {display:none;}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#reel
{
  position:relative;
  top:-41px;
  left:12px;
  width:1024px;
  height:576px;
overflow:hidden;
scroll:none;
padding:0px;
margin:0px;
border:none;
outline:none;]
background-color: #000000;
-webkit-mask-image: -webkit-radial-gradient(white, black);
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
border-radius: 10px;

}
video:focus {
     outline: 0;
}
#steadi
{
  position:relative;
  top:-41px;
  left:12px;
  width:1024px;
  height:420px;
overflow:hidden;
scroll:none;

padding:0px;
margin:0px;
border:none;
outline:none;]
background-color: #000000;
-webkit-mask-image: -webkit-radial-gradient(white, black);
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
display:none;
border-radius: 10px;
}

steadi:focus {
     outline: 0;
}

#techno
{
  position:relative;
  top:-41px;
  left:12px;
  width:1024px;
  height:420px;
overflow:hidden;
scroll:none;

padding:0px;
margin:0px;
border:none;
outline:none;]
background-color: #000000;
-webkit-mask-image: -webkit-radial-gradient(white, black);
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
display:none;
}
techno:focus {
     outline: 0;
}

#top
{
	position:relative;
	top:0px;
	left:12px;
	width:1024px;
	height:6px;
	font-size: 18px;
	font-family:Arial, sans-serif;
	color:#333333;
}
